@import url('https://fonts.googleapis.com/css2?family=Inria+Sans:wght@400;700&display=swap');


*{
  margin:0;
  padding:0;
}
/* 
.header {
  position: relative; 
}/* Ensure relative positioning for absolute positioning of the Navbar */


.header-image {
  width: 100%; /* Stretch the image to the full width */
  position: relative;
  z-index: 2; /* Ensure the header image is above the Navbar */
} */


.navbar {
  position: absolute; /* Position the Navbar relative to the header */
  width: 100%; /* Make Navbar stretch to full width */

}


.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #12d30b; /* Green background color for the Navbar */
  font-family: 'Inria Sans', sans-serif;

  
}


.navbar-brand img {
  height: 150px; /* Increase the logo height */
  background-color: transparent; /* Set the background color of the navbar-brand to transparent */
  padding: 10px;
}

.navbar-links {
  display: flex;
  font-size: 20px;
}

.navbar-links a {
  margin-left: 1.0rem;
  text-decoration: none;
  color: #0a0101; /* Change tab name color to white */
  transition: color 0.3s;
  font-size:  22px;
  font-weight: bold;
  margin-right: 34px;
  font-family: 'Inria Sans', sans-serif;

}

.navbar-links a:hover {
  color: #f76868; /* Change tab name hover color */
}

.menu-icon {
  display: none;
  cursor: pointer;
}

@media (max-width: 768px) {
  .navbar {
    flex-direction: column;
    align-items: flex-start;
    height: auto;
  }

  .navbar-links {
    display: none;
    width: 100%;
    justify-content: space-around;
    margin-top: 1rem;
  }

  .navbar-links.active {
    display: flex;
  }

  .navbar-links a {
    margin: 1rem 0;
  }

  .menu-icon {
    display: block;
  }
}
